@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,900;1,300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #252525;
    color: white;
    font: weight 900px;
    text-transform: uppercase;
    height: 15rem;
}

header h1 {
    font-weight: 900;
}



/* Animacion logo */
.logo{
    transition: all 0.5s;
}
.logo:hover{
    scale: 1.05;
}

.productoEnCarrito {
    background-color: #252525;
    color: white;
    font-size: 1rem;
    border-radius: 2rem;
    padding: 0.1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

/* Cards */

.card {
    text-align: center;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.46);
    border-radius: 2rem;
    background-color: #f6eac7;
}

.card a {
    text-decoration: none;
    color: #252525;
    font-weight: bolder;
    background-color: #5E707F;
    border-radius: 2rem;
    font-size: 18px;
    white-space: nowrap;
}

.card p {
    text-transform: none;
}

.card-img-top {
    border-radius: 2rem;
    padding-top: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
}

.card-title{
    font-weight: bold;
    text-transform: uppercase;
}

.btn-form, .btn-form-cont {
    text-decoration: none;
    color: #252525;
    font-weight: bolder;
    background-color: #ddbc60;
    border-radius: 2rem;
    font-size: 18px;
    white-space: nowrap;
    padding: 0.5rem;
    transition: all 0.3s;
}

.btn-form:hover, .btn-form-cont:hover {
    background-color: #5E707F;
}


footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #252525;
    color: white;
    font-size: 0.8rem;
    text-transform: none;
    margin-top: auto;
    min-height: 5vh;
}